.back-button {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;

  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  width: auto;

  color: #475569;
  font-size: 0.95rem;
  font-weight: 500;
  transition: color 0.2s;
  margin-top: 0;
  margin-bottom: 20px;
}

.back-button:hover:not([disabled]) {
  color: #0070f3;
  text-decoration: underline;
  background: none !important;
}

.back-button .icon-back {
  width: 16px;
  height: 16px;
}
