<div class="book-list-container container">
    <div class="list-header">
        <h2>Book Management</h2>
        <div>
            <button class="btn-create btn-icon button" routerLink="/admin/books/create">
                <img src="/icons/add.svg" alt="Add Icon" class="icon" width="20" height="20" />
                New Book
            </button>
        </div>
    </div>

    @if (error()) {
    <div class="alert alert-error">
        <img src="/icons/alert.svg" alt="Error Icon" class="icon" width="20" height="20" />
        {{ error() }}
    </div>
    } @if (isLoading()) {
    <p>Loading books...</p>
    }

    @if (!isLoading() && books().length > 0) {
    <app-minimal-table [columns]="bookColumns" [data]="books()" [actions]="bookActions" />

    } @else if (!isLoading()) {
    <p>No books found. Please create one.</p>
    }
</div>