jwt:
  secret: ${JWT_SECRET}
  access-token-expiration-ms: 1800000
  refresh-token-expiration-ms: 604800000

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update